#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  touch-action: none;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #333;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-appearance: none;
  appearance: none;
}


.com-tabber {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.view-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.com-tabber+.view-main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  z-index: 101;

  &.one-level-full-page {
    bottom: 0;
  }
}

.view-page {
  img {
    width: 100%;
  }
}

.view-block {
  &.no-scroll {
    -webkit-overflow-scrolling: none;
  }

  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  min-height: 100%;
  max-height: 100%;
  height: 100%;

  .test-block {
    width: 100%;
    height: 200px;
    background: #f0f0f0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.statusBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 210;
}

.clearfix {
  zoom: 1;

  &:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
}

.content-container {
  max-width: 750px;
  padding: 25px;
  position: relative;
}

.common-header {
  text-align: center;
  line-height: 88px;
  font-size: 28px;
}

.center-block {
  text-align: center !important;
}

.no-data {
  width: 100%;
  padding-top: 310px;
  background: url('https://bobtestimg.oss-cn-hangzhou.aliyuncs.com/staticImg/nodata.png') no-repeat;
  background-size: 250px auto;
  background-position: center 25px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;

  span {
    color: #ffcf3d;
  }
}

@for $i from 0 through 5 {
  .vip-#{$i} {
    background-image: url('https://bobtestimg.oss-cn-hangzhou.aliyuncs.com/staticImg/icon/#{$i}.jpg');
    background-repeat: no-repeat;
  }
}

//地址编辑

.address-pop {
  .van-address-edit__buttons {
    padding-bottom: 20px !important;
  }

  .van-cell {
    padding-left: 0;
    padding-right: 0;

    .van-cell__title {
      width: 4em;
    }

    &:after {
      left: 0;
    }
  }
}

.btn-common {
  width: 100%;
  height: 100px;
  background: $by;
  text-align: center;
  line-height: 100px;
  border-radius: 15px;
  font-size: 30px;
  @include tapColor;
}

.padding-container {
  padding: 0 25px;
}


.btn-r {
  width: 180px;
  height: 60px;
  background: #ffce49;
  color: #333;
  border-radius: 30px;
  text-align: center;
  line-height: 62px;
  font-size: 26px;
  @include tapColor;
}


.skeleton-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 500;
  padding: 25px;
  overflow: hidden;

  >* {
    margin-bottom: 25px;
  }

  .item-img-text {
    display: flex;

    .pic {
      width: 90px;
      background: #f0f0f0;
      margin-right: 25px;

      &:after {
        width: 100%;
        padding-top: 100%;
        display: block;
        content: '';
      }
    }

    @for $i from 0 through 30 {
      &.h#{$i * 10} {
        .pic {
          width: $i * 10px;
        }
      }
    }

    .text {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .item {
        height: 20%;
        background: #f0f0f0;

        @for $i from 0 through 10 {
          &.w#{$i * 10} {
            width: $i * 10%;
          }
        }

        @for $i from 0 through 10 {
          &.h#{$i * 10} {
            height: $i * 10%;
          }
        }
      }

      &.right {
        align-items: flex-end;
      }

      &.x-center {
        align-items: center;
      }

      &.y-center {
        justify-content: center;
      }
    }

    &.yuan {
      .pic {
        border-radius: 50%;
      }
    }
  }

  .item-block {
    display: flex;

    .item {
      flex: 1;
      margin-right: 25px;
      background: #f0f0f0;

      &:last-child {
        margin-right: 0;
      }
    }


    @for $i from 0 through 70 {
      &.h#{$i * 10} {
        .item {
          height: $i * 10px;
        }
      }
    }



    &.fang {
      .item {
        &::after {
          display: block;
          content: '';
          padding-top: 100%;
        }
      }
    }

    &.yuan {
      .item {
        border-radius: 50%;
      }
    }
  }

  .item-list {
    background: #f0f0f0;

    @for $i from 0 through 10 {
      &.h#{$i * 10} {
        .item {
          height: $i * 10px;
        }
      }
    }

    .item {
      height: 80px;
      position: relative;
      @include oneB;

      &:before {
        left: 25px;
        right: 25px;
        width: auto;
        background: #e5e5e5;
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }

  .item-game-card {
    >* {
      margin-bottom: 25px;

      &:first-child {
        width: 70%;
      }
    }
  }
}

.list-no-data {
  width: 100%;
  line-height: 88px;
  font-size: 24px;
  text-align: center;
  color: #999;
}