html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.com-tabber {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.com-tabber+.view-main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: px2rem(100px);
}

.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
    transition: all 0.4s;
}

.fade-left-enter {
    transform: translateX(100%);
    opacity: 1;
}

.fade-left-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

.fade-right-enter {
    transform: translateX(-100%);
    opacity: 1;
}

.fade-right-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

.view-page {
    img {
        width: 100%;
    }
}

.view-block {
    &.no-scroll {
        -webkit-overflow-scrolling: none;
    }

    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    min-height: 100%;
    max-height: 100%;

    .test-block {
        width: 100%;
        height: px2rem(200px);
        background: #f0f0f0;
        margin-bottom: px2rem(20px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.statusBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.clearfix {
    zoom: 1;
    &:after {
        content: "";
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both;
    }
}
