#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #333;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input,textarea {
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-appearance: none;
  appearance: none;
}

.com-tabber {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.view-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.com-tabber+.view-main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  z-index: 101;

  &.one-level-full-page {
    bottom: 0;
  }
}

.view-page {
  img {
    width: 100%;
  }
}

.view-block {
  &.no-scroll {
    -webkit-overflow-scrolling: none;
  }

  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  min-height: 100%;
  max-height: 100%;
  height: 100%;

  .test-block {
    width: 100%;
    height: 200px;
    background: #f0f0f0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.statusBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 210;
}

.clearfix {
  zoom: 1;

  &:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
}

.content-container {
  max-width: 750px;
  padding: 25px;
  position: relative;
}

.common-header {
  text-align: center;
  line-height: 88px;
  font-size: 28px;
}

.center-block {
  text-align: center !important;
}

.no-data {
  width: 100%;
  padding-top: 310px;
  background: url('/img/staticImg/nodata.png') no-repeat;
  background-size: 250px auto;
  background-position: center 25px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;

  span {
    color: #ffcf3d;
  }
}

@for $i from 0 through 5 {
  .vip-#{$i} {
    background-image: url('/img/staticImg/icon/#{$i}.png');
    background-repeat: no-repeat;
  }
}

//地址编辑

.address-pop {
  .van-address-edit__buttons {
    padding-bottom: 20px !important;
  }
  .van-cell{
    padding-left: 0;
    padding-right: 0;
    .van-cell__title{
      width: 4em;
    }
    &:after{
      left: 0;
    }
  }
}

.btn-common {
  width: 100%;
  height: 100px;
  background: $by;
  text-align: center;
  line-height: 100px;
  border-radius: 15px;
  font-size: 30px;
  @include tapColor;
}

.padding-container{
  padding: 0 25px;
}