//会员代充
.give-container {
  .van-icon-checked {
    color: #fb3f55;
  }

  .van-radio-group {
    text-align: right;
  }

  .radio-item {
    display: inline-block;
    height: 100px;
    line-height: 102px;
    margin-left: 30px;

    .van-radio__input {
      line-height: 0;
    }

    .van-radio__label {
      position: relative;
      padding-left: 45px;
      padding-right: 15px;
      background: #f0f0f0;
      border-radius: 5px;
      height: 36px;
      line-height: 38px;
      font-size: 24px;

      .iconfont {
        font-size: 36px;
        color: #00a0e9;
        position: absolute;
        top: 0;
        left: 0;

        &.icon-weixinzhifu {
          color: #59b64c;
        }
      }
    }
  }
}

//分享模板
.van-popup[share] {
  background: rgba(0, 0, 0, 0);
}

//我的权益
.power-container {
  .card-pagination {
    position: absolute;
    bottom: 0px !important;
    text-align: center;
    line-height: 50px;

    .card-item {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: #ccc;
      transition: all 0.2s;
      margin-left: 12px;
      vertical-align: 2px;

      &.card-item-active {
        background: #666;
        width: 60px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

//商品详情页面
.detail-container {
  .cover-pagination {
    height: 50px;
    text-align: center;
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;

    .cover-item {
      display: inline-block;
      width: 13px;
      height: 13px;
      background: #333;
      border-radius: 50%;
      opacity: .3;
      margin-right: 10px;

      &.cover-item-active {
        opacity: .8;
      }
    }
  }
}

//商品筛选页面
.good-page {
  .common-header {
    z-index: 10000;
  }
}

//游戏页面弹窗
.game-pop-container {
  .btn-box {
    padding: 0 40px;
    padding-top: 30px;
    @include clearfix;

    .item {
      border-radius: 40px;
      height: 80px;
      line-height: 82px;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      @include tapColor;
    }

    &.one {
      text-align: center;

      .item {
        display: inline-block;
        width: 240px;
        background: #fed149;
      }
    }

    &.two {
      .item {
        width: 240px;

        &:first-child {
          float: left;
          background: #f0f0f0;
          color: #999;
        }

        &:last-child {
          float: right;
          background: #fed149;
        }
      }
    }

    &.three {
      .item {
        width: 240px;
        background: #f0f0f0;
        color: #999;

        &:first-child {
          width: 100%;
          float: none;
          background: #fed149;
          color: #333;
          margin-bottom: 30px;
        }

        &:nth-child(2) {
          float: left;
        }

        &:nth-child(3) {
          float: right;
        }
      }
    }
  }

  .content-alert {
    text-align: center;
    padding: 40px;
    font-size: 30px;
    line-height: 1.5;
  }
}


//商品详情
.long-container{
  img{
    max-width: 100%;
    display: block;
  }
}