//主界面tabber切换过渡样式
.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
    transition: all 0.4s;
}

.fade-left-enter {
    transform: translateX(100%);
    opacity: 1;
}

.fade-left-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

.fade-right-enter {
    transform: translateX(-100%);
    opacity: 1;
}

.fade-right-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

//弹出页面切换样式
.pop-left-enter-active,
.pop-right-enter-active,
.pop-top-enter-active,
.pop-bottom-enter-active,
.pop-left-leave-active,
.pop-right-leave-active,
.pop-top-leave-active,
.pop-bottom-leave-active {
    transition: all .4s cubic-bezier(.39,.05,.09,.92)
}
.pop-left-enter,
.pop-left-leave-to {
    transform: translateX(100%);
}
.pop-right-enter,
.pop-right-leave-to {
    transform: translateX(-100%);
}
.pop-top-enter,
.pop-top-leave-to {
    transform: translateY(-100%);
}
.pop-bottom-enter,
.pop-bottom-leave-to {
    transform: translateY(100%);
}